name: Build & Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*.*.*'
      - 'prerelease-v*.*.*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Install NSIS if windows-latest
        if: runner.os == 'Windows'
        run: |
          choco install nsis -y

      - name: Build the app
        run: npm run make

      - name: Build AppImage if ubuntu-latest
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && sudo apt-get install -y fuse libfuse2
          chmod +x appimage_scripts/appimage_gnu_linux_build.sh
          sudo ./appimage_scripts/appimage_gnu_linux_build.sh

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-build-artifacts
          path: out/make/

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download all build artifacts
        uses: actions/download-artifact@v4

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: "*-build-artifacts/**/*"
          prerelease: ${{ startsWith(github.ref, 'refs/tags/prerelease-') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
